label {
  display: block;
  margin: 18px 0 8px;
}

input, select {
  border: dashed 2px var(--gold);
  box-sizing: border-box;
  max-width: 412.5px;
  padding: calc(var(--content-padding) / 2);
  width: 100%;
  text-overflow: ellipsis;
}

figure {
  padding: var(--content-padding) 0;
  margin: 0;
}

figure canvas {
  width: 100%;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

fieldset ul {
  list-style: none;
  padding: 0;
}

#root {
  position: relative;
}